.chat-main
  .chat-main__group-info
    .chat-main__group-info__group
      .chat-main__group-info__group__group-name
        =@group.name
      .chat-main__group-info__group__member
        Member:
        - @group.users.each do |user|
          =user.name
    .chat-main__group-info__editButton
      = link_to edit_group_path(@group), class: "edit" do
        Edit
     
  .chat-main__message
    = render @messages

  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "new_message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
        